In [3]:
data = pd.read_pickle("../others/songs_paul.pkl")

In [4]:
data.head()

,artist,song,signal,sample_rate,channel
0,Pink,Are We All We Are,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",44100,2
1,Pink,Blow Me One Last Kiss,"[-9, -14, -10, -9, -11, -11, -9, -12, -11, -10...",44100,2
2,Pink,Try,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",44100,2
3,Pink,Just Give Me A Reason,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",44100,2
4,Pink,True Love,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",44100,2

In [27]:
indices = {"paul": 150, 
           "pucca": 110,
           "arjay": 100,
           "carlo": 100,
           "mark": 61}

In [42]:
count = 0
for i in indices: 
    pd.to_pickle(data[count:count+indices[i]], "../others/for_"+i+".pkl")
    count = count + indices[i]
    print "for "+i+" is done."

for puccais done.
for paulis done.
for carlois done.
for arjayis done.
for markis done.